.card
{
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.card_top
{
    gap: 5px;
}
.card_top_labels
{
    
    gap: 10px;
}
.card_top svg
{
    opacity: 0;
    transition: 500ms;
}
.card:hover .card_top svg
{
    opacity: 1;
}
.cardTitle
{
    display: flex;
    font-weight: bold;
}
.cardFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardFooter p
{
    display: flex;
    gap: 5px;
    align-items: center;
}
.cardFooter svg
{
    height: 18px;
    width: 18px;
}
.cardTopMore
{
	position: relative;
	cursor: pointer;
}
.cardDropdown
{
	background-color: #c0d3d6;
	width: 100px;
    border-radius: 10px;
	box-shadow: 1px 0 20px rgba(0,0,0,0.05);
    margin-top: -25px;
}

.cardDropdown p
{
    margin-left: 8%;
	cursor: pointer;
}